[submodule "internal/rankd-comp/vendor/pfs"]
	path = internal/rankd-comp/vendor/pfs
	url = https://github.com/dtrugman/pfs.git
[submodule "internal/rankd-comp/vendor/libsensors-cpp"]
	path = internal/rankd-comp/vendor/libsensors-cpp
	url = https://github.com/sfranzen/libsensors-cpp.git
[submodule "cmd/rankd/vendor/rapidjson"]
	path = cmd/rankd/vendor/rapidjson
	url = https://code.nap.av.it.pt/external-tools/rapidjson
[submodule "cmd/rankd/vendor/spdlog"]
	path = cmd/rankd/vendor/spdlog
	url = https://code.nap.av.it.pt/external-tools/spdlog.git
[submodule "cmd/rankd/vendor/restbed"]
	path = cmd/rankd/vendor/restbed
	url = https://code.nap.av.it.pt/mobility-networks/restbed.git
[submodule "internal/rankd-comp/vendor/rapidjson"]
	path = internal/rankd-comp/vendor/rapidjson
	url = https://code.nap.av.it.pt/external-tools/rapidjson
[submodule "internal/rankd-time/vendor/rapidjson"]
	path = internal/rankd-time/vendor/rapidjson
	url = https://code.nap.av.it.pt/external-tools/rapidjson
[submodule "internal/rankd-time/vendor/ptp/excelfore-gptp"]
	path = internal/rankd-time/vendor/ptp/excelfore-gptp
	url = https://code.nap.av.it.pt/external-tools/excelfore-gptp.git
[submodule "internal/rank-prelude/vendor/rapidjson"]
	path = internal/rank-prelude/vendor/rapidjson
	url = https://code.nap.av.it.pt/external-tools/rapidjson.git
[submodule "internal/rank-prelude/vendor/libyang-cpp"]
	path = internal/rank-prelude/vendor/libyang-cpp
	url = https://code.nap.av.it.pt/external-tools/libyang-cpp.git
[submodule "internal/rank-prelude/vendor/doctest"]
	path = internal/rank-prelude/vendor/doctest
	url = https://code.nap.av.it.pt/external-tools/doctest.git
[submodule "internal/rank-prelude/vendor/cbor-cpp"]
	path = internal/rank-prelude/vendor/cbor-cpp
	url = https://code.nap.av.it.pt/external-tools/cbor-cpp.git
[submodule "internal/rank-prelude/vendor/libbpf-bootstrap"]
	path = internal/rank-prelude/vendor/libbpf-bootstrap
	url = https://code.nap.av.it.pt/external-tools/libbpf-bootstrap.git
[submodule "internal/rank-prelude/vendor/pcap-plus-plus"]
	path = internal/rank-prelude/vendor/pcap-plus-plus
	url = https://code.nap.av.it.pt/external-tools/pcap-plus-plus.git
